html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media only screen and (max-width: 768px) {
    section {
        width: 100vw;
        margin: 0 auto;
        padding: 1rem 1.5rem;
    }
    nav {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    nav i {
        color: #272727;
    }
    section {
        width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        padding: 1rem 1.5rem;
        background: rgb(255, 255, 255);
        /* Old browsers */
        background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f3f6', GradientType=0);
        /* IE6-9 */
    }
    h2 {
        margin-top: 1rem !important;
        font-size: 2rem !important;
    }
    .student-form {
        width: 100%;
    }
    .student-form input {
        width: 90%;
        margin: 0 auto;
    }
    .sidenav-overlay {
        opacity: 0 !important;
    }
    .student-form div,
    #english-section div,
    #english-certificate div {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .student-form button {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#977ef2+29,2955d9+82 */
        background: rgb(151, 126, 242) !important;
        /* Old browsers */
        background: -moz-linear-gradient( -45deg, rgba(151, 126, 242, 1) 29%, rgba(41, 85, 217, 1) 82%) !important;
        /* FF3.6-15 */
        background: -webkit-linear-gradient( -45deg, rgba(151, 126, 242, 1) 29%, rgba(41, 85, 217, 1) 82%) !important;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( 135deg, rgba(151, 126, 242, 1) 29%, rgba(41, 85, 217, 1) 82%) !important;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#977ef2', endColorstr='#2955d9', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        height: 3rem !important;
        border-radius: 20rem !important;
        margin: 1rem auto;
        padding: 0 1rem;
        width: 13rem;
        border: none;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
    }
    #english-section form {
        border-radius: 2rem;
        height: auto;
        background-color: #f1f3f6;
        border: 2px solid #f1f3f6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        -webkit-box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
        box-shadow: 30px 30px 80px -15px rgba(55, 84, 170, 0.5), -30px -30px 80px 0.5px rgba(255, 255, 255, 1), inset 10px 10px 20px 0px rgba(255, 255, 255, 0.5);
    }
    .english-btn {
        width: 80% !important;
        margin: 1rem 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#77ce06+0,05b5bf+100 */
        background: rgb(119, 206, 6);
        /* Old browsers */
        background: -moz-linear-gradient( -45deg, rgba(119, 206, 6, 1) 0%, rgba(5, 181, 191, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( -45deg, rgba(119, 206, 6, 1) 0%, rgba(5, 181, 191, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( 135deg, rgba(119, 206, 6, 1) 0%, rgba(5, 181, 191, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#77ce06', endColorstr='#05b5bf', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        border-radius: 2rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
    }
    #question {
        margin: 3rem 0 1rem 10rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        border: solid 2px #05b5bf;
        color: #05b5bf;
        font-weight: 700;
        background-color: transparent;
        border-radius: 1.5rem;
    }
    #user {
        color: black;
        display: flex;
        justify-content: space-around;
        height: 4rem;
        margin-top: 1rem;
    }
    #user-photo {
        margin: 1rem 0;
        width: 3rem;
    }
    #user-photo img {
        width: 3rem;
    }
    li.waves-effect {
        width: 100%;
    }
}